<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>

    <session-factory>

        <!-- DB Connection -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/neurotherapy</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">password</property>

        <!-- Dialect -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Debug -->
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <!-- IMPORTANT -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- ENTITY MAPPING ONLY -->
        <mapping class="com.neuro.entity.PatientEntity"/>
        <mapping class="com.neuro.entity.UserEntity"/>
        <mapping class="com.neuro.entity.SessionEntity"/>
    </session-factory>

</hibernate-configuration>
